body {
  display: flex;
  /* justify-content: center; */
  font-family: monospace;
  justify-content: space-between;
}

.main, .main2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: lightyellow;
  max-width: 400px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.buttonRow, .buttonRow2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.getDog, .getRap {
  width: 30%;
  background: radial-gradient(ellipse at center, #fefcea 0%,#f1da36 100%);
  font-family: cursive;
  font-size: 15px;
  border-radius: 5px;
}

.breedName, .rapperName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background: blue;
  color: white;
  height: 50px;
  margin-top: 10px;
}
